<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <p>Welcome to <%= title %></p> -->
     <p> Hey</p>
  </body>
</html>
